.horoscope header{
   width: 300px;
   height: 100vh;
   text-align: center;

   border-right: 1px solid #BFBFBF;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   position: fixed;
}

.a-propos header,
.contact header{
   width: 300px;
   height: 100vh;
   text-align: center;

   border-right: 1px solid #BFBFBF;

   display: grid;

   position: fixed;
}

header a {
   text-decoration: none;
   color : #909090;
}

header .active, 
header a:hover {
   color: #000;
}

header ul {
   padding: 0;
}
header li {
   text-transform: uppercase;
   list-style-type: none;
   margin-bottom: 30px;
   font-weight: 100;
}

/* Responsive */

@media screen and (max-width:1024px) {
   header{
      display: flex!important;
      position: relative!important;
      flex-direction: row!important;
      height: auto!important;
      width: auto!important;
      align-items: center;
      border-right: none!important;
      justify-content: space-between;

      ul{
         display: flex;
         align-items: center;
         gap: 50px;
         padding-right: 25px;

         li{
            margin-bottom: 0;
         }
      }
   }
}

@media screen and (max-width:767px) {
   header{

      ul{
         gap: 10px;
         padding-right: 0;

         li{
            font-size: 14px;
         }
      }

      img{
         max-width: 80px;
      }
   } 
}