#nav-top{
   display: flex;
   gap: 38px;
   margin-top: 50px;
   margin-left: 100px;
   margin-bottom: 30px;

   a{
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-size: 18px;
      display:block;
      border-top: 1px solid #BFBFBF;
      padding-top: 12px;

      span{
         display: block;
         color:#BFBFBF;
      }
   }
}

/* Responsive */

@media screen and (max-width:1024px) {
   #nav-top{
      margin-left: 0;
   }
}